#asistDocenteBoton, #asistPasanteBoton, #asistEquipoBoton, #verBoton{
    margin-left: 300px;
}

.container{
    margin-top: 50px;
}

#tablaDatosDocente, #tablaDatosEstudiante{
    margin-top: 50px;
}